


div(class="grid-gallery")
  a.grid-gallery__item(href="#")
    img.grid-gallery__image(src="https://source.unsplash.com/featured/500x400/?dog")
  a.grid-gallery__item(href="#")
    img.grid-gallery__image(src="https://source.unsplash.com/featured/500x400/?woman")
