// ARRAY DE OBJETOS CON EL MENÚ Y SUBMENÚS

-  
  var pages = [
    {
      title: 'Home',
      url: 'index.html',
      child: []
    },
    {
      title: 'Services',
      url: 'services.html',
      child: [
        {
          title: 'Web design',
          url: 'web-design.html'
        },
        {
          title: 'Seo',
          url: 'seo.html'
        }
      ]
    },
    {
      title: 'Contact us',
      url: 'contact.html',
      child: []
    }
  ]

ul
  each page in pages
    li
      a(href=page.url)=page.title
    
      if page.child.length > 0
        ul
         each subPage in page.child
          li
            a(href=subPage.url)=subPage.title

