//- SECCIÓN JS
-
  var siteName = 'RamonBL'
  var currentPage= 'PaginaActual'

  var encode = 'utf-8'
  var pageTitle = 'TituloPorDefecto'
  var metaDescription = "Diseñador y programador web expecializado en la excelencia."
  var metaAuthor = "RamonBL"

  var dirImg = "assets/img/"
  var dirSlides = "assets/img/slides/"
  var dirPages = "pages/"
  
  var pages = [
    'index',
    'about_us',
    'contact'
  ]

// end CONFIG  
|
|


  
//- EDTEAM
//- - var title = "EDgrid | Inicio"
//- - var description = "Descripcion de la pagina"
//- - var ogUrl = "index.html"
//- - let docsMenu = false

//- - var img = ""
//- - var title = ""
//- - var description = ""
//- - var clase = ""
//- - var boton = ""
//- - var botones = ""
