.container
  .row(style="margin-bottom: 0;")
    .col.s12.m12

      .row

        .col.l4.s12
          include footer__contacto

        .col.l4.s12
          include footer__chat

        .col.l4.s12(style="overflow: hidden;")
          include footer__connect
      
      // Incluimos archivo con la línea de los Patreon Sponsors
      .row

      .row
        include footer__patreon_sponsors
      

      include footer__copyright
      


