|
|

.footer-copyright © 2014-<noscript>2018</noscript>

  script. 
    document.write(new Date().getFullYear()); 
    
  |  RamonBl, todos los derechos reservados

  a.grey-text.text-darken-1.right(href="https://github.com/Dogfalo/materialize/blob/master/LICENSE")  
    |  MIT License
  //- <div class="footer-copyright">  © 2014-<noscript>2018</noscript>


  //- <script type="text/javascript">document.write(new Date().getFullYear());</script> Materialize, All rights reserved.
  //- <a class="grey-text text-darken-1 right" href="https://github.com/Dogfalo/materialize/blob/master/LICENSE">MIT License</a>
//- </div>
|
|
