|
|
h5 Contacta conmigo
p.grey-text.text-darken-2 
  | We hope you have enjoyed using Materialize and if you feel like it has helped you out and want to support the team you can help us by donating or backing us on Patreon. Any amount would help support and continue development on this project and is greatly appreciated.

a.btn.waves-effect.waves-light.red.lighten-2(href="/support-us.html") Support us
//- <a class="btn waves-effect waves-light red lighten-2" href="/support-us.html">Support Us</a>
|
|
