|
|

<div class="col s12">
  h5 Patreon Sponsors
</div>

<div class="col s12">

  <div class="patreon-footer-ad">
    <a href="https://www.utilitysavingexpert.com/" alt="Compare Energy" target="_blank" rel="noopener">
      <img src="https://i.postimg.cc/fbGCbZs5/Logo-1200x630.png" alt="Compare car insurance at Utility Saving Expert">
    </a>
  </div>

  <div class="patreon-footer-ad">
    <a href="https://icons8.com/material-icons" target="_blank" rel="noopener">
      <img src="https://s13.postimg.cc/q0lliz153/icons8-logo-opencollective.png" alt="Icons8">
    </a>
  </div>

  <div class="patreon-footer-ad">
    <a href="https://uiuxagencies.top" target="_blank" rel="noopener">
      <img src="https://i.postimg.cc/zDgLzCXN/Logo-1.png" alt="Top UI & UX Design Agencies">
    </a>
  </div>

</div>

|
|
