|
|
a.dropdown-trigger(href="#" data-target="version-dropdown") v1.0.0 - es-ES
  // icono para el dropdown 
  svg.caret(height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg")
    path(d="M7 10l5 5 5-5z")
    path(d="M0 0h24v24H0z" fill="none")

ul#version-dropdown.dropdown-content
  li
    a(href="#") v1.0.0 - es-ES
  // <li><a href="http://archives.materializecss.com/0.100.2/">0.100.2</a></li> 
|
|
